{% extends "base.html" %}

{% block content %}
  {% include "includes/toolbar.html" %}
  {% include "includes/upload_card.html" %}

  {% include "includes/xtts_row.html" %}
  {% include "includes/fish_row.html" %}
  {% include "includes/kokoro_row.html" %}
  {% include "includes/stable_audio_row.html" %}
  {% include "includes/ace_step_row.html" %}
  {% include "includes/production_row.html" %}
  {% include "includes/chatbot_row.html" %}
  {% include 'includes/reference_separator.html' %}
  {% include 'includes/cheat_sheet_row.html' %}
  {% include 'includes/helpful_links_row.html' %}
{% endblock %}